@model webui.Identity.User
<style>
        #changePassword-button{
        position: absolute;
        right: 10px;
        bottom: 60px;
        width: 120px;
        height: 25px;
        background-color: rgb(40, 115, 145);
        font-size: 13px;
        color: white !important;
    }
    #changePassword-button a{
   
        color: white !important;
        text-decoration: none;
    }
</style>

<div id="detailCard" class="card mb-3" style="max-width: 540px;height:220px; background-color:gray;" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img id="userImage" src="~/img/1.jpg" class="card-img" style="width: 185px; height:185px">
            <input type="file" style="color: white;" onchange="ImageSelected(event)">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 id="detailCardString" class="card-title">@Model.UserName</h5>
                <p id="detailCardString" class="card-text" style="color: white;">Name : @Model.Name <br> Surname : @Model.Surname <br> Email : @Model.Email <br>
                    Password : ******** <button id="changePassword-button"><a asp-controller="Home" asp-action="Index">Change Password</a></button> 
                
                <p id="detailCardString" class="card-text" style="color: rgb(216, 209, 209); font-size:13px;">Date Of Register:  @Model.DateOfRegister</p>
            </div>
        </div>
    </div>
</div>